.ss-card {
    -webkit-box-shadow:0 0 5px transparent;
    -moz-box-shadow:0 0 5px transparent;
    box-shadow:0 0 5px transparent;
    background-color: var(--color-card);
    border-radius: 7px;
    min-height: 40px;
    min-width: 40px;
    padding: 20px;

    transition: -webkit-box-shadow .3s;
    transition: -moz-box-shadow .3s;
    transition: box-shadow .3s;
}
.ss-card div[class="ss-card"] {
    min-height: 65px;
    padding: 0;
}
.ss-card div[class="ss-card"] header {
    margin: 20px 0 0 20px;
}
.ss-card div[class="ss-card"] > button > svg {
    margin-right: 20px;
    margin-top: -25px;
}
.ss-card:hover {
     -webkit-box-shadow:0 0 5px var(--color-shader);
     -moz-box-shadow:0 0 5px var(--color-shader);
     box-shadow:0 0 5px var(--color-shader);
 }
.ss-card #card-title-hd {
    background: var(--color-main);
    border-radius: 5px;
    height: 25px;
    float: left;
    width: 5px;
}
.ss-card header {
    color: var(--color-font);
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 1.02rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
}

.ss-button {
    background: var(--color-main);
    color: var(--color-font-r);
    border-radius: 7px;
    font-size: 0.95rem;
    font-weight: 600;
    height: 33px;
    border: 0;
}
.ss-button:hover {
    opacity: 0.95;
}
.ss-button:focus {
    outline: none;
}
.ss-button:active {
    opacity: 0.9;
}

footer > div:first-child {
    color: var(--color-font);
    margin-bottom: 20px;
}
footer > div:first-child > span {
    margin-left: 20px;
    font-size: 0.7rem;
}
footer > div:last-child {
    margin-bottom: 10px;
    text-align: center;
    margin-top: -10px;
    font-size: 0.7rem;
}
footer > div:last-child span a {
    color: var(--color-font-1);
}
footer header {
    color: var(--color-main);
}
footer header span {
    color: var(--color-font-1);
    font-size: 0.7rem;
    margin-left: 10px;
}

.cls-1 {
    fill: var(--color-card-1);
}

.bar-search {
    border: 0;
    height: 35px;
    font-size: 15px;
    margin-right: 0 !important;
    background: var(--color-card-1);
}
.bar-search:focus {
    background: var(--color-card-1);
    outline: none;

    -webkit-box-shadow:0 0 5px var(--color-shader);
    -moz-box-shadow:0 0 5px var(--color-shader);
    box-shadow:0 0 5px var(--color-shader);
}

.avatar {
    cursor: hand;
    overflow: hidden;
    margin-left: 20px;
    --main-size: 36px;
    margin-right: 5px;
    width: var(--main-size);
    height: var(--main-size);
    border-radius: var(--main-size);
    background: var(--color-card-1);
}
.avatar img {
    width: var(--main-size);
    height: var(--main-size);
}

.user-name {
    display: none;
}

.scroll-top {
    border-top: 1px dashed var(--color-main);
    margin: 0 30px;
}

pre {
    margin: 5px -10px -60px -10px !important;
    background: transparent !important;
    padding: 0 !important;
}
pre:before {
    display: none !important;
}
pre:after {
    display: none !important;
}
pre > code {
    padding: 1rem !important;
}
pre > code span {
    background: transparent !important;
}
pre[class*=language-]>code {
    /*background-image: linear-gradient(transparent 50%,rgba(69,142,209,.04) 50%) !important;*/
    background-image: none !important;
    /*box-shadow: -1px 0 0 0 var(--color-main), 0 0 0 1px var(--color-shader) !important;*/
    border-left: 0px solid var(--color-main) !important;
    background-color: var(--color-card-2) !important;
    border-left: 10px solid #358ccb;
    background-origin: content-box;
    background-attachment: local;
    box-shadow: none !important;
    background-size: 3em 3em;
    border-radius: 7px;
    position: relative;
    opacity: 0.8;
    z-index: 1;
}
code[class*=language-] {
    max-height: inherit;
    height: inherit;
    padding: 0 1em;
    display: block;
    overflow: auto;
}

::-webkit-scrollbar-thumb {
    background: var(--color-main);
    border-radius: 6px;
}
::-webkit-scrollbar {
    background-color:var(--color-card-1);
    width:6px;
}
::-webkit-scrollbar-button {
    display: none;
}

@media screen and (max-width: 992px) {
    .avatar {
        width: auto;
        height: auto;
        margin-left: 0;
        border-radius: 0;
        background: none;
    }
    .avatar img {
        display: none;
    }

    .bar-search {
        display: none !important;
    }

    .user-name {
        display: unset;
        cursor: pointer;
        color: var(--color-font-1);
    }
    .user-name:hover {
        color: var(--color-font);
        opacity: 0.7;
    }
}

.navbar-dark .navbar-brand {
    color: var(--color-font) !important;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: var(--color-font) !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--color-font-1) !important;
}
.navbar-dark:hover .navbar-nav:hover .nav-link:hover {
    color: var(--color-font) !important;
    opacity: 0.7 !important;
}